<!DOCTYPE html>
<html lang="en-us">

  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/styles.css" media="screen">
  </head>

  <body>
    <h1>Hello from <a href='http://kemalcr.com/'>Kemal</a></h1>
  </body>

</html>
